.header {
  background: rgb(49, 2, 2);
  padding: 0;
  border-bottom: 1px solid #e72929;
}

.header a {
  color: goldenrod;
  background: #5f3030;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(2deg); }
  50% { transform: translateX(2px) rotate(-2deg); }
  75% { transform: translateX(-2px) rotate(2deg); }
  100% { transform: translateX(0); }
}

.header a:hover {
  background: #805858;
  animation: shake 0.3s ease infinite;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: rgb(49, 2, 2);
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.cart_count {
  background-color: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}


.dropdown {
  appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f3ef0bcc;
  color: #333;
  outline: none;
}

.dropdown:hover {
  border-color: #555;
}

nav {
  margin-top: 10px;
  margin-right: 10px; 
}